@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

.main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56vh; /* 부모 요소의 높이를 뷰포트 높이로 설정 */
}

.main-visual > .inner {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 수직 정렬을 위해 추가 */
}

.main-visual .inner h1 {
    font-size: 27vw;
    font-family: "Anton SC"; /* 폰트 패밀리 추가 */
    text-transform: uppercase;
    border: 1px solid #fff;
}
